@{
}

<div>
    <form method="post">
        <div class="mt-2">
            <label>người nhận</label>
            <input name="MailTo" class="form-control" type="email" />
        </div>

        <div class="mt-2">
            <label>Tiêu đề</label>
            <input name="subject" class="form-control"/>
        </div>

        <div class="mt-2">
            <label class="">Nội dung</label>
            <textarea rows="6" class="form-control" name="content">

            </textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Send Mail</button>
    </form>
</div>
